extends layout

- var data = #{data}

block content
	div.container
		div.jumbotron
			h1=title
		ul
			each doc in data
				li= doc.last_name + ", " + doc.first_name

		form.form-inline#add_form(name="add_form", method="post")
			div.form-group
				label(for="first_name") First Name: 
				input.input(type="text", name="first_name", placeholder="First Name...")
				br
				label(for="last_name") Last Name: 
				input(type="text", name="last_name", placeholder="Last Name...")
				br 
				br
				button(class="btn btn-primary", type="submit") Submit